<div class="comment-panel">
  <div v-for="comment of comments" :ref="comment.id" :key="comment.id" class="comment-panel--comment" @mouseenter="highlightComment(comment)"
    @mouseleave="unhighlightComments">
    <div v-for="(entry, index) of comment.entries" :key="index" class="comment-panel--comment-entry">
      <textarea v-model="entry.content" class="comment-panel--input" @input="resize"></textarea>
      <button class="comment-panel--remove-button" @click="removeEntry(comment, index)">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </button>
    </div>
    <button @click="addEntry(comment)">
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </button>
  </div>
</div>