@import '../../vars'

.export-settings-form
  grid-area form
  padding 0 1em
  border-left solid 1px var(--border-color)
  border-bottom solid 1px var(--border-color)
  overflow-y auto
  -webkit-user-select none

  @media print
    display none

  label
    display block
    margin 1em 0 5px

  details
    margin 1em 0
    padding 1ch
    background var(--border-color)

  summary
    cursor pointer
