@import '../../vars'

.lobby-pane
  height 100vh
  border-bottom none
  justify-content center
  user-select none

.app-logo
  width 250px
  margin-right 50px

.app-logo--paper
  fill var(--editor-page-background)

.app-logo--border
.app-logo--panels
  fill var(--editor-color)

.app-version
  margin 10px 50px 0 0
  text-align center

.lobby-content
  position relative
  width 40ch

  h2:first-child
    margin-top 0

  .file-actions
    display flex
    justify-content start
    gap 1rem

    button
      width fit-content

  button
    display block
    width 100%
    margin 1ex 0
    border none
    text-align left

    span
      color gray
      font-size smaller
