@import './vars.styl'

.dark-theme:root
  --border-color #444
  --caret-color darken($cursorColor, 50%)
  --dialog-selectable-bg lightyellow
  --dialog-selected-bg yellow
  --editor-color #eee
  --editor-page-background #282828
  --editor-page-border-color #151515
  --fieldset-border-color #333
  --inactive-window-text-color #ccc
  --input-border-color #555
  --scrollbar-thumb-background-color #555
  --tab-border-color #444
  --title-bar-background #111
  --window-background #202020
  --window-text-color #fff
  --word-count-color $brandSecondaryColor
