@font-face
  font-family 'Courier Prime Sans'
  font-weight normal
  font-style normal
  src url('assets/fonts/Courier Prime Sans.ttf') format('truetype')

@font-face
  font-family 'Courier Prime Sans'
  font-weight bold
  font-style normal
  src url('assets/fonts/Courier Prime Sans Bold.ttf') format('truetype')

@font-face
  font-family 'Courier Prime Sans'
  font-weight normal
  font-style italic
  src url('assets/fonts/Courier Prime Sans Italic.ttf') format('truetype')

@font-face
  font-family 'Courier Prime Sans'
  font-weight bold
  font-style italic
  src url('assets/fonts/Courier Prime Sans Bold Italic.ttf') format('truetype')
