@import './vars.styl'

.light-theme:root
  --border-color #ddd
  --caret-color darken($cursorColor, 50%)
  --dialog-selectable-bg lightyellow
  --dialog-selected-bg yellow
  --editor-color #444
  --editor-page-background #fff
  --editor-page-border-color #ddd
  --fieldset-border-color #ddd
  --inactive-window-text-color #666
  --input-border-color #ccc
  --scrollbar-thumb-background-color #aaa
  --tab-border-color #aaa
  --title-bar-background #d4d6d9
  --window-background #eee
  --window-text-color #000
  --word-count-color $brandSecondaryColor
