$brandColor = #5f2165
$brandSecondaryColor = #3382ba
$brandContrastColor = white
$cursorColor = tint($brandSecondaryColor, 70%)
$editorBackground = #ececec
$editorFontFamily = Courier Prime Sans, Courier New, Courier, monospace
$errorColor = #a00
$pageBackground = white
$frontmatterColor = #666
$lightTextColor = #666
$lineLength = 80ch
$primaryHighlightBackground = #80D8FF
$highlightBackground = rgba($primaryHighlightBackground .4)
$defaultFontSize = 16px
$minimumFontSize = 10px
$maximumFontSize = 30px
$scrollbarMarkerColor = rgba(black 20%)
